@mixin apercu_light {
  font-family: "Apercu Light", Calibri, sans-serif;
  font-size-adjust: 0.508; 
  font-weight: 200; 
  font-style: normal;
}
@mixin apercu_bold {
  font-family: "Apercu Bold", Calibri, sans-serif;
  font-size-adjust: 0.508; 
  font-weight: bold; 
  font-style: normal;
}
@mixin standard_font_size {
  font-size: 10pt;
  line-height: 14pt;
}
@mixin large_font_size {
  font-size: 16pt;
  line-height: 22pt;
}
